.card {
	width: 95%;
	height: 90px;
	background-color: #1e293b;

	flex-shrink: 0;

	margin-bottom: 15px;

	position: relative;

	border-radius: 0.5rem;

	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.card__buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

	padding-inline: 20px;
}

.button__container {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));

	align-items: center;
	justify-content: center;
}

.card__button {
	padding-inline: 10px;
	padding-block: 3px;

	color: white;
	background-color: #0284c7;

	border: 0;
	border-radius: 0.25rem;

	margin: 2px;

	cursor: pointer;
}

.card__button__full {
	grid-column: span 2;
}

.button__red {
	background-color: #dc2626;
}

.card__headers {
	display: flex;
	flex-direction: column;

	padding-left: 20px;
	padding-block: 8px;
}

.card__title {
	font-weight: 400;
	font-size: 1.4rem;

	margin: 0;

	color: white;
}
