.titlebar {
	width: 100vw;
	height: 18px;

	position: absolute;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(1px);

	border: 0;
	border-radius: 10px 10px 0px 0px;
	box-sizing: border-box;

	display: flex;
	padding-inline: 8px;

	align-items: center;
	justify-content: end;

	-webkit-app-region: drag;
}

.titlebar__button {
	width: 10px;
	height: 10px;
	border: 0;
	border-radius: 100%;

	margin-inline: 3px;

	cursor: pointer;
	-webkit-app-region: no-drag;
}

.btn__close {
	background-color: red;
}

.btn__minimise {
	background-color: #facc15;
}

.btn__maximise {
	background-color: #16a34a;
}

.titlebar__btn__close:hover {
	cursor: pointer;
}
